/*---------------------------------------------------------------------------------------*/
/*----------------------------------------Contact----------------------------------------*/
/*---------------------------------------------------------------------------------------*/
#contact{
    position: relative;
}
.box-c{
    background-image: url("../images/contact/background-c.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 0;
    position: relative;
}
#contact form{
    color: #000000;
    position: relative;
    padding: 240px 0px;
    max-width: 580px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}
#tittle-c{
    font-family: Orbitron;
    font-size: 30px;
    margin-left: 48px;
    font-weight: 400;
}
#tittle-c::after {
    background: none repeat scroll 0 0 #E8652C;
    height: 4px;
    margin: 16px 0px 10px;
    width: 118px;
    content: "";
    display: block;
}
#send-c{
    background: #E8652C;
    border: none;
    padding: 5px 30px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    margin-top: 40px;
}
.alig-c{
    display: flex;
    margin: 20px 0px;
    height: 50px;
}
#ta-c{
    height: 100px;
}
.alig-c img{
    margin-right: 20px;
}
#em-c{
    width: 30px;
}
#na-c{
    width: 30px;
}
#ms-c{
    width: 30px;
    align-self: flex-start;
    margin-top: 10px;
}
.into-text-c{
    background: #ffffff;
    border: solid #969696 1px;
    border-radius: 14px;
    padding: 5px 16px;
    color: #000000;
    font-family: Open Sans;
    font-size: 20px;
    width: 556px;
    margin: 4px 0px;
    font-style: initial;
}
.into-text-c::placeholder{ 
    font-style: italic;
    color: #969696;
}
#send-c:hover{
    box-shadow: 0px 0px 8px -1px #888888;
    cursor: pointer;
}
#triangle-c{
    position: absolute;
    bottom: -1px;
}
.alig-c textarea{
    resize: none;
}
#triangle-f {
    display: none;
}
/*--------------------Responsive-contact--------------------*/
@media screen and (max-width: 768px){
    .box-c{
        background-size: initial;
        background-position: initial;
    }
    #contact form{
        padding: 190px 0px;
    }
}
@media screen and (max-width: 400px){
    #contact form {
        width: 270px;
        margin: 0px auto;
        padding: 130px 0px;
    }
    .into-text-c::placeholder {
        font-style: italic;
        color: #c9c9c9;
    }
    .into-text-c {
        border: solid #c9c9c9 1px;
        border-radius: 10px;
        padding: 5px 16px;
        font-size: 11px;
        width: 220px;
        margin: 4px 0px;
    }
    .alig-c img {
        margin-right: 10px;
    }
    #em-c{
        width: 24px;
    }
    #na-c{
        width: 24px;
    }
    #ms-c{
        width: 24px;
    }
    #send-c {
        font-size: 12px;
        margin-top: 30px;
    }
}
